<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>TAkeCare</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${paginaTitulo}]]</h2>

    <div class="my-3">
      <form th:action="@{/pacientes/guardar}" method="post" enctype="multipart/form-data" th:object="${paciente}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{codigo}" />
         <input type="hidden" th:field="*{ubicacion}" />

        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="nombre">Nombre</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{nombre}" required minlength="2" maxlength="20" class="form-control"
                id="nombre" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="fechanacimiento">Nacimiento</label>
            <div class="col-sm-9">
              <input type="date" th:field="*{fechanacimiento}" required maxlength="100" class="form-control"
                id="fechanacimiento" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="contacto">Contacto</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{contacto}" required maxlength="15" class="form-control"
                id="contacto" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="password">Password</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{password}" required maxlength="12" class="form-control"
                id="password" />
            </div>
          </div>

          <div class="text-center botonera">
            <input type="submit" value="Guardar" class="btn btn-primary btn-sm mr-2" />
            <input type="button" value="Cancelar" id="btnCancel" class="btn btn-secondary btn-sm" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/pacientes/} + ${paciente.ubicacion.codigo}]]";
      });
    });
  </script>

</body>

</html>